@import url("https://fonts.googleapis.com/css2?family=Philosopher&family=Inconsolata&family=Montserrat");

html {
    scroll-behavior: smooth;
}

body {

    position: relative;
    background: var(--color_room_up);
    font-size: 100%;
    font-family: var(--font-General);
    font-display: auto;

    &::-webkit-scrollbar {
        width: 13px;
    }

    &::-webkit-scrollbar-track {
        background: var(--color_backlight);
        border-radius: 1px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--color_backdark);
        border-radius: 1px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: var(--color_backmedium);
    }
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    /* Standard syntax */
}

*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
    max-width: 100%;
    width: 100%;
    display: block;
    /* (Opcional) */
    object-fit: cover;
    /* (Opcional) */
    object-position: center center;
}

:root {



    --color_room_left: #0f1218;
    --color_room_right: #0f1218;
    --color_room_up: #06080a;
    --color_room_down: #06080a;
    --color_room_back: #040607;

    --color_backdark: #0c0e13;
    --color_backmedium: #292f3b;
    --color_backlight: #787C85;
    --color_deactivated: #00ACB409;
    --color_activated: #00ACB4;
    --color_font: #c5c5c5;
    --color_fontTitle: #a7a7a7;
    --color_font_section: #EEEEEE22;
    --color_back_section: #04212299;
    --color_bubble_hover: #64b4da33;
    --font_Display: 'DotGothic16', sans-serif;
    --font-General: 'Montserrat', sans-serif;
    --font-Title: 'Philosopher', sans-serif;
    
}