@import url("https://fonts.googleapis.com/css2?family=Philosopher&family=Inconsolata&family=Montserrat");
html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background: var(--color_room_up);
  font-size: 100%;
  font-family: var(--font-General);
  font-display: auto;
}
body::-webkit-scrollbar {
  width: 13px;
}
body::-webkit-scrollbar-track {
  background: var(--color_backlight);
  border-radius: 1px;
}
body::-webkit-scrollbar-thumb {
  background: var(--color_backdark);
  border-radius: 1px;
}
body::-webkit-scrollbar-thumb:hover {
  background: var(--color_backmedium);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  /* Standard syntax */
}

*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  object-fit: cover;
  /* (Opcional) */
  object-position: center center;
}

:root {
  --color_room_left: #0f1218;
  --color_room_right: #0f1218;
  --color_room_up: #06080a;
  --color_room_down: #06080a;
  --color_room_back: #040607;
  --color_backdark: #0c0e13;
  --color_backmedium: #292f3b;
  --color_backlight: #787C85;
  --color_deactivated: #00ACB409;
  --color_activated: #00ACB4;
  --color_font: #c5c5c5;
  --color_fontTitle: #a7a7a7;
  --color_font_section: #EEEEEE22;
  --color_back_section: #04212299;
  --color_bubble_hover: #64b4da33;
  --font_Display: "DotGothic16", sans-serif;
  --font-General: "Montserrat", sans-serif;
  --font-Title: "Philosopher", sans-serif;
}

/* Media Queries Mixin
**********************/
.section__bubbles {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.perspective {
  position: fixed;
  background-color: #07070700;
  height: 100%;
  width: 100%;
  z-index: -1;
  perspective: 300px;
  left: 0;
  perspective-origin: 50vw 50vh;
}
.perspective__container {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
.perspective__back {
  position: absolute;
  width: 100%;
  height: 62.5%;
  background-color: var(--color_room_back);
  opacity: 1;
  transform: rotateX(0deg) translateX(0%) translateZ(-20vw) translateY(36%);
}
.perspective__down {
  position: absolute;
  width: 100%;
  height: 62.5%;
  background-color: var(--color_room_down);
  opacity: 1;
  transform: rotateX(90deg) translateX(0vw) translateZ(-53.5vh) translateY(-38%);
}
.perspective__up {
  position: absolute;
  width: 100%;
  height: 62.5%;
  background-color: var(--color_room_up);
  opacity: 0;
  transform: rotateX(90deg) translateX(0vw) translateZ(8.7vh) translateY(-26%);
}
.perspective__left {
  position: absolute;
  width: 100%;
  height: 62.5%;
  background-color: var(--color_room_left);
  opacity: 1;
  transform: rotateY(90deg) translateZ(-50vw) translateY(36%) translateX(0%);
}
.perspective__right {
  position: absolute;
  width: 100%;
  height: 62.5%;
  background-color: var(--color_room_right);
  opacity: 1;
  transform: rotateY(-90deg) translateZ(-50vw) translateY(36%) translateX(16%);
}
.perspective__lamp {
  position: absolute;
  width: 100px;
  height: 150px;
  top: 0;
  background-color: #FFFF5500;
  transform: translateZ(-71px) translateY(-70%) translateX(calc(48.5vw - 50px));
}
@media only screen and (min-width: 768px) {
  .perspective__lamp {
    transform: translateZ(calc(11vw - 100px)) translateY(calc(35% + 5vh)) translateX(calc(50vw - 55px));
  }
}
.perspective__lamp--wire {
  position: absolute;
  width: 2px;
  height: 50%;
  left: calc(50% - 1px);
  background-color: #0e0e0e;
}
.perspective__lamp--circle {
  position: absolute;
  width: 8px;
  height: 5%;
  left: calc(50% - 4px);
  top: 50%;
  border-radius: 5px 5px 0 0;
  background-color: black;
}
.perspective__lamp--conect {
  position: absolute;
  width: 20px;
  height: 10%;
  left: calc(50% - 10px);
  top: 54%;
  border-radius: 1rem 1rem 0 0;
  background-color: #080808;
}
.perspective__lamp--base {
  position: absolute;
  width: 80%;
  height: 25%;
  left: calc(10%);
  top: 60%;
  border-radius: 3rem 3rem 0 0;
  background-color: #0e0d0d;
}
.perspective__lamp--baseellipse {
  position: absolute;
  width: 80%;
  height: 10%;
  left: 10%;
  top: 80%;
  border-radius: 100%;
  background-color: #000000;
  border: 1px solid #272727;
}
.perspective__lamp--ellipse {
  position: absolute;
  width: 80%;
  height: 10%;
  left: 10%;
  top: 80%;
  border-radius: 100%;
  background-color: #76dee4;
  filter: hue-rotate(45deg);
  animation: animationLight 10s linear infinite;
}
.perspective__lamp--light {
  position: absolute;
  width: 600px;
  height: 800px;
  top: -300%;
  left: -325%;
  opacity: 0.2;
}
.perspective__lamp--light polygon {
  fill: url("#grad");
}

.landscape {
  position: absolute;
  width: 100%;
  height: 45.4545454545%;
  background-color: rgba(134, 128, 121, 0);
  left: -50%;
  opacity: 1;
  transform-style: preserve-3d;
  transform: rotateX(0deg) translateX(50%) translateZ(-20vw) translateY(70%);
}
.landscape__window {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 70%;
  height: 90%;
  left: 15%;
  top: 5%;
  background-color: var(--color_backdark);
  border: 1.3rem groove #181818;
  overflow: hidden;
}
.landscape__window--text {
  color: var(--color_activated);
  font-size: calc(4.5vw + 1rem);
  text-align: center;
  margin: 1rem 0 0.2rem 0.5rem;
  font-family: "Inconsolata", monospace;
  line-height: 6.5vw;
}
.landscape__window--text::after {
  position: absolute;
  bottom: 0.5rem;
  content: "";
  font-size: 3rem;
  color: #e9971d;
  animation: animationCursor 1s linear infinite;
}
@media only screen and (min-width: 768px) {
  .landscape__window--text::after {
    content: "";
    font-size: calc(5vw + 1rem);
    font-weight: 100;
    color: #e9971d;
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.5rem;
  z-index: 7;
  overflow: hidden;
  background-color: var(--color_backdark);
  border-bottom: 1px solid var(--color_backlight);
}
.header__container {
  position: relative;
  display: flex;
  width: 90%;
  height: 100%;
  display: grid;
  margin: 0 auto;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 3.5rem;
}
@media only screen and (min-width: 992px) {
  .header__container {
    width: 75%;
  }
}
.header__logo {
  width: 35%;
  min-width: 7rem;
  max-width: 6rem;
  justify-self: center;
  grid-column: 1/span 2;
}
@media only screen and (min-width: 768px) {
  .header__logo {
    grid-column: 1/2;
    justify-self: left;
  }
}
.header__menu {
  position: relative;
  list-style: none;
  display: none;
  justify-self: flex-end;
  top: -0.1rem;
}
@media only screen and (min-width: 768px) {
  .header__menu {
    display: flex;
  }
}

.menu__list {
  width: 7rem;
  text-align: center;
  padding: 0.3rem 0.9rem;
}
.menu__list--link {
  text-decoration: none;
  font-weight: 100;
  color: var(--color_font);
  font-size: 0.8rem;
  transition: width 2s linear;
}
.menu__list--link:hover {
  cursor: pointer;
}
.menu__list--home .menu__list--link {
  color: var(--color_activated);
}

.menu__selection {
  position: absolute;
  width: 7rem;
  height: 2rem;
  border: 1px solid var(--color_activated);
  background-color: var(--color_deactivated);
  transition: left 0.3s linear;
}

.language {
  position: absolute;
  width: 1.25rem;
  height: 2.1rem;
  right: 0.75rem;
  top: 0.75rem;
  background-color: var(--color_backmedium);
  border: 1px solid var(--color_fontTitle);
  overflow: hidden;
}
.language ::before {
  position: absolute;
  content: "EN";
  top: -0.9rem;
  left: 0.13rem;
  color: var(--color_font);
  font-size: 0.6rem;
}
.language ::after {
  position: absolute;
  content: "ES";
  top: 1.15rem;
  left: 0.15rem;
  color: var(--color_font);
  font-size: 0.6rem;
}
.language__button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 1rem;
  top: 0;
  left: 0;
  background-color: var(--color_activated);
  transition: transform 0.3s linear;
  pointer-events: none;
}
.language__check {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.language__check:checked + .language__button {
  transform: translateY(1rem);
}
.language__icon {
  object-fit: cover;
  width: 83%;
}

.title {
  position: relative;
  width: 100%;
  height: 3.5rem;
  font-size: 2.5rem;
  font-family: var(--font-Title);
  color: var(--color_fontTitle);
  font-weight: 900;
  border-bottom: 1px solid var(--color_activated);
  background-color: transparent;
  backdrop-filter: blur(10px);
  letter-spacing: 0.05rem;
  z-index: 2;
}

.section {
  width: 90%;
  height: 100%;
  min-height: calc(100vh - 9rem);
  margin: 0rem auto 4.8rem auto;
  justify-items: center;
  transition: opacity 0.5s linear;
  padding-top: 4rem;
  z-index: 6;
}
@media only screen and (min-width: 768px) {
  .section {
    justify-items: flex-start;
  }
}
@media only screen and (min-width: 992px) {
  .section {
    width: 75%;
  }
}

.home__container {
  display: grid;
  align-items: center;
  margin-top: 0rem;
  height: calc(100vh - 13rem);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fit, min-max(3rem, 1fr));
}
@media only screen and (min-width: 768px) {
  .home__container {
    margin: 1.5rem 0 0 0;
  }
}
.home__greetings {
  position: relative;
  grid-column: 1/span 2;
  grid-row: 2/3;
  margin: 0rem auto 1rem auto;
  font-size: 1.8rem;
  font-family: var(--font-Title);
  word-wrap: break-word;
  align-self: flex-start;
  opacity: 0;
  color: var(--color_font);
  animation: animationIntoName 1.5s cubic-bezier(0.5, 0.53, 0, 1.73) 0.25s both;
  z-index: 1;
}
.home__greetings br {
  display: none;
}
@media only screen and (min-width: 768px) {
  .home__greetings {
    font-size: 2.8rem;
    align-self: flex-end;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0;
  }
  .home__greetings br {
    display: block;
  }
}
.home__name {
  grid-column: 1/span 2;
  grid-row: 2/3;
  color: var(--color_activated);
  font-size: 3.5rem;
  font-weight: 600;
  align-self: flex-end;
  font-family: var(--font-Title);
  margin: 0.5rem auto;
  animation: animationIntoName 1.5s cubic-bezier(0.49, 0.58, 0.66, 1.14) both;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .home__name {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 4.5rem;
    margin: 0rem 0 0 0;
    align-self: flex-start;
  }
}
.home__slogan {
  grid-column: 1/span 2;
  grid-row: 6/7;
  font-size: 1.2rem;
  margin: -0.5rem auto;
  color: var(--color_font);
  align-self: flex-end;
  animation: animationSkillsLogos 1s linear 2.5s both;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .home__slogan {
    grid-column: 1/2;
    grid-row: 3/4;
    margin: 0rem 0 0 0;
  }
}
.home__photo {
  width: 35%;
  min-width: 10rem;
  border-radius: 50%;
  justify-self: start;
  grid-column: 1/span 2;
  grid-row: 1/2;
  margin: 0.5rem auto;
  border: 5px solid var(--color_activated);
  box-shadow: 1px 1px 10px 1px #000000;
  filter: grayscale(90%);
  object-fit: cover;
  transform: translateX(200%);
  animation: animationPhoto 1.5s both linear;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .home__photo {
    width: 55%;
    min-width: 18rem;
    grid-column: 2/3;
    grid-row: 1/3;
    margin: 5rem 0 0 0rem;
    justify-self: end;
  }
}
.home__link--github {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  justify-self: start;
  width: 8%;
  margin: 0rem 0 0 1.4rem;
  grid-column: 2/3;
  grid-row: 7/8;
  z-index: 1;
  transform: translateY(200%);
  animation: animationLogosContact 1s both cubic-bezier(0.72, 0.38, 0.03, 1.56);
}
@media only screen and (min-width: 768px) {
  .home__link--github {
    margin: 0rem 0 0 1.5rem;
    grid-column: 2/3;
    grid-row: 6/7;
  }
}
.home__link--linkedin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  justify-self: end;
  margin: 0rem 0rem 0 0;
  grid-column: 1/2;
  grid-row: 7/8;
  z-index: 1;
  transform: translateY(200%);
  animation: animationLogosContact 1s both cubic-bezier(0.5, 0.53, 0, 1.73) 0.5s;
}
@media only screen and (min-width: 768px) {
  .home__link--linkedin {
    margin: 0rem 0 0 1.5rem;
    grid-column: 1/2;
    grid-row: 6/7;
  }
}

.networks {
  text-decoration: none;
  transition: transform 0.15s linear;
}
.networks:hover {
  transform: scale(1.1);
  color: var(--color_activated);
}
.networks:hover > .networks__name {
  color: var(--color_activated);
  transition: fill 0.2s linear;
}
.networks:hover .networks__path {
  fill: var(--color_activated);
}
.networks__logo {
  width: 2.3rem;
  min-width: 2.2rem;
}
.networks__logo .networks__path {
  transition: fill 0.2s linear;
  fill: var(--color_font);
}

.github__name,
.linkedin__name {
  position: relative;
  top: 0.2rem;
  color: var(--color_font);
}

.logo {
  width: 60%;
  min-height: 1rem;
  animation: animationLogos 7s linear alternate infinite;
}
@media only screen and (min-width: 768px) {
  .logo {
    width: 70%;
  }
}

.technologies {
  display: none;
  width: 100%;
  height: 100%;
  min-width: 7rem;
  overflow: hidden;
}
.technologies:checked + .label__tech {
  color: transparent;
}
.technologies:checked + .label__tech:before {
  animation: animationTechnologies 0.4s linear both alternate;
}

.label__tech {
  position: relative;
  display: none;
  width: 100%;
  min-height: 3rem;
  padding: 0.85rem 0rem 0.85rem 0rem;
  text-align: center;
  font-size: 0.9rem;
  font-family: var(--font-General);
  font-weight: 100;
  word-wrap: break-word;
  color: var(--color_font);
  background-color: var(--color_backmedium);
  border-left: 1px solid var(--color_backdark);
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}
.label__tech:hover {
  color: var(--color_backdark);
  opacity: 1;
  background-color: var(--color_activated);
  font-weight: 600;
}
.label__tech::before {
  position: absolute;
  content: attr(name);
  width: 100%;
  height: 100%;
  left: 0;
  top: -125%;
  padding: 0.85rem 0 0 0;
  background-color: var(--color_backdark);
  border-top: 1px solid var(--color_activated);
  color: var(--color_activated);
}
@media only screen and (min-width: 768px) {
  .label__tech {
    display: block;
  }
}

.logos {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  row-gap: 0.5rem;
  margin: 3rem 0 0 0;
  background: var(--color_backdark);
  border-left: 1px solid var(--color_font_section);
  border-right: 1px solid var(--color_font_section);
  border-top: 1px solid var(--color_font_section);
  z-index: 1;
  background-color: var(--color_backdark);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--color_activated);
  border-left: 1px solid var(--color_font_section);
  border-right: 1px solid var(--color_font_section);
  border-top: 1px solid var(--color_font_section);
}
@media only screen and (min-width: 768px) {
  .logos {
    grid-template-rows: 3rem 2fr 2fr 2fr;
    grid-template-columns: repeat(5, 1fr);
    margin: 7vh 0 0 0;
  }
}

.skills__name {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 90%;
  margin: 0.5rem;
  text-transform: uppercase;
  color: var(--color_font);
  text-align: center;
  font-size: 0.6rem;
  align-items: center;
  justify-content: center;
  animation: animationSkillsLogos 0.5s both linear;
}
@media only screen and (min-width: 768px) {
  .skills__name {
    font-size: 1rem;
  }
}
.skills__bubble {
  display: flex;
  width: 4rem;
  height: 4rem;
  margin: 0 0 0.5rem 0;
  align-items: center;
  justify-content: center;
  box-shadow: -10px -10px 20px 7px var(--color_font_section) inset;
  border-radius: 50%;
}
@media only screen and (min-width: 768px) {
  .skills__bubble {
    width: 7rem;
    height: 7rem;
  }
}
.skills--webdev {
  color: var(--color_activated);
  border-left: none;
}
.skills--webdev:hover {
  color: var(--color_font);
}
.skills__select {
  position: absolute;
  display: block;
  height: 2rem;
  top: -2rem;
  right: 0;
  padding: 0.1rem 1rem 0 1rem;
  font-size: 1.3rem;
  font-family: var(--font-General);
  color: var(--color_font);
  background-color: var(--color_backdark);
  border-bottom: 1px solid var(--color_activated);
  border-top: 1px solid var(--color_backlight);
  border-right: 1px solid var(--color_backlight);
  border-left: 1px solid var(--color_backlight);
}
@media only screen and (min-width: 768px) {
  .skills__select {
    display: none;
  }
}

.projects__container {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  gap: 5rem;
  margin: 4.5rem 0 0 0;
  z-index: 1;
}
.project {
  display: flex;
  position: relative;
  justify-content: center;
  width: 30rem;
  height: 15rem;
  padding: 2rem;
  background-color: var(--color_backmedium);
  border: 1px solid var(--color_font);
}
.project__technologies {
  display: grid;
  grid-template-columns: repeat(auto-fill, max-min(3em, 1fr));
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  justify-content: space-evenly;
  position: absolute;
  width: 95%;
  height: 30%;
  bottom: -20.1%;
  padding: 0.3rem;
  background: var(--color_backdark);
  border-top: 1px solid var(--color_font);
  border-left: 1px solid var(--color_font);
  border-right: 1px solid var(--color_font);
  border-bottom: 2px solid var(--color_activated);
  z-index: 1;
}
.project__technologies--container {
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project__technologies--image {
  height: 85%;
  object-fit: contain;
  margin-bottom: 0.6rem;
}
.project__technologies--label {
  color: var(--color_fontTitle);
  text-transform: uppercase;
  font-size: 0.65rem;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  .project__technologies--label {
    font-size: 0.8rem;
  }
}
.project__title {
  position: absolute;
  top: -2rem;
  width: 80%;
  height: 4rem;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  padding: 0.9rem 0 0 0;
  color: var(--color_activated);
  background-color: var(--color_back_section);
  backdrop-filter: blur(5px);
  border: 1px solid var(--color_activated);
}
.project__image {
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s linear;
  border: 2px solid var(--color_font);
}
.project__options {
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  width: 10%;
  height: 60%;
  top: 5%;
  right: -5%;
  padding: 0.3rem;
  background: var(--color_backdark);
  border-top: 1px solid var(--color_font);
  border-left: 1px solid var(--color_font);
  border-right: 1px solid var(--color_font);
  border-bottom: 2px solid var(--color_activated);
}
.project__options--zoom {
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  background-image: url("../assets/icons/zoom-icon.svg");
  background-size: 2.2rem;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  filter: grayscale(1) brightness(150%);
}
.project__options--zoom:hover {
  filter: grayscale(0);
}
.project__cortain--one {
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: right;
  padding-top: 20%;
  font-weight: 900;
  font-size: 1.5rem;
  background-color: var(--color_back_section);
  color: var(--color_activated);
  opacity: 1;
  position: absolute;
  transform-origin: left;
  transition: transform 0.5s cubic-bezier(0.73, 0.53, 0.39, 0.81);
  backdrop-filter: blur(5px);
  z-index: 0;
}
.project__cortain--two {
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  text-align: left;
  padding-top: 20%;
  font-weight: 900;
  font-size: 1.5rem;
  background-color: var(--color_back_section);
  backdrop-filter: blur(5px);
  color: var(--color_activated);
  opacity: 1;
  position: absolute;
  transform: translateX(0%);
  transform-origin: right;
  transition: transform 0.5s cubic-bezier(0.73, 0.53, 0.39, 0.81);
  z-index: 0;
}
.project__cortain {
  position: absolute;
  top: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.project__cortain:hover > .project__cortain--one {
  transform: translateX(-100%);
}
.project__cortain:hover > .project__cortain--two {
  transform: translateX(100%);
}

.previewContainer {
  display: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color_back_section);
  border: 1px solid var(--color_font);
  z-index: 8;
}
.previewContainer__preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 100%;
}
.previewContainer__preview--image {
  width: 100%;
  object-fit: scale-down;
}

.aboutme {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 4rem 0 3rem 0;
  align-items: center;
  justify-content: center;
  background-color: var(--color_backdark);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--color_activated);
  border-left: 1px solid var(--color_font_section);
  border-right: 1px solid var(--color_font_section);
  border-top: 1px solid var(--color_font_section);
  z-index: 1;
}
.aboutme__paragraph {
  position: absolute;
  width: 40%;
  max-height: 12.5rem;
  padding: 0.5rem;
  background-color: var(--color_deactivated);
  color: var(--color_font);
  font-size: 0.65rem;
  font-weight: 100;
  overflow-y: auto;
}
@media only screen and (min-width: 768px) {
  .aboutme__paragraph {
    font-size: 0.8rem;
    max-height: 15rem;
  }
}
.aboutme__paragraph::-webkit-scrollbar {
  width: 7px;
}
.aboutme__paragraph::-webkit-scrollbar-track {
  background: var(--color_backlight);
  border-radius: 1px;
}
.aboutme__paragraph::-webkit-scrollbar-thumb {
  background: var(--color_activated);
  border-radius: 1px;
}
.aboutme__paragraph::-webkit-scrollbar-thumb:hover {
  background: var(--color_deactivated);
}
.aboutme__paragraph--title {
  margin: 0 0 1rem 0;
}
.aboutme__paragraph--list {
  margin: 1rem 0 0 1rem;
}
.aboutme__one {
  top: 4.5rem;
  left: calc(10% - 2rem);
  border-right: 2px solid var(--color_activated);
}
.aboutme__two {
  top: 11rem;
  left: calc(50% + 2rem);
  border-left: 2px solid var(--color_activated);
}
.aboutme__three {
  top: 19.5rem;
  left: calc(10% - 2rem);
  border-right: 2px solid var(--color_activated);
}
.aboutme__four {
  top: 24.5rem;
  left: calc(50% + 2rem);
  border-left: 2px solid var(--color_activated);
}
.aboutme__five {
  top: 32rem;
  left: calc(10% - 2rem);
  border-right: 2px solid var(--color_activated);
}
.aboutme__six {
  top: 40.5rem;
  left: calc(50% + 2rem);
  border-left: 2px solid var(--color_activated);
}
.aboutme__seven {
  top: 47rem;
  left: calc(10% - 2rem);
  border-right: 2px solid var(--color_activated);
}
.aboutme__eight {
  top: 50rem;
  left: calc(50% + 2rem);
  border-left: 2px solid var(--color_activated);
}
.aboutme__nine {
  top: 60rem;
  left: calc(10% - 2rem);
  border-right: 2px solid var(--color_activated);
}
.aboutme__ten {
  top: 65rem;
  left: calc(50% + 2rem);
  border-left: 2px solid var(--color_activated);
}

.timeline {
  width: 1px;
  height: 100%;
  background-color: var(--color_activated);
  margin-bottom: 9rem;
}

.point {
  position: relative;
  left: 1.42rem;
  top: 5.5rem;
  height: 7rem;
  width: 1rem;
  color: var(--color_activated);
  font-size: 2rem;
}
.point::after {
  position: absolute;
  content: "";
  width: 2rem;
  height: 1px;
  top: 1.3rem;
  background-color: var(--color_activated);
}
.point::before {
  position: absolute;
  width: 4.5rem;
  height: 2.2rem;
  padding: 0.55rem 0;
  font-size: 0.8rem;
  text-align: center;
  background: linear-gradient(var(--color_backmedium), var(--color_backmedium));
  z-index: 1;
}
.point:nth-child(2n+1)::after {
  left: -3.4rem;
}
.point:nth-child(2n+1)::before {
  left: -7.9rem;
  border-bottom: 2px solid var(--color_activated);
}
.point:nth-child(2n+2)::after {
  left: -1.4rem;
}
.point:nth-child(2n+2)::before {
  left: 0.62rem;
  border-bottom: 2px solid var(--color_activated);
}

.timeline__point--one::before {
  content: "ALWAYS";
  top: -3.2rem;
}

.timeline__point--two::before {
  content: "2000";
  top: -3.7rem;
}

.timeline__point--three::before {
  content: "2006";
  top: -2.2rem;
}

.timeline__point--four::before {
  content: "2008";
  top: -4.2rem;
}

.timeline__point--five::before {
  content: "2013";
  top: -3.7rem;
}

.timeline__point--six::before {
  content: "2014";
  top: -2.2rem;
}

.timeline__point--seven::before {
  content: "2016";
  top: -2.7rem;
}

.timeline__point--eight::before {
  content: "2018";
  top: -6.7rem;
}

.timeline__point--nine::before {
  content: "2021";
  top: -3.7rem;
}

.timeline__point--ten::before {
  content: "2022";
  top: -5.7rem;
}

.contact {
  min-height: calc(100vh - 5rem);
}
.contact__type {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3rem;
  margin: 8rem 0 0 0;
  align-items: center;
}
.contact__type--networks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 25rem;
  min-height: 7rem;
  z-index: 1;
  background-color: var(--color_backdark);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--color_activated);
  border-left: 1px solid var(--color_font_section);
  border-right: 1px solid var(--color_font_section);
  border-top: 1px solid var(--color_font_section);
}
.contact__type--message {
  width: 100%;
  text-align: center;
  color: var(--color_font);
  z-index: 1;
}
.contact__link--github, .contact__link--linkedin, .contact__link--mail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6rem;
  padding: 1rem;
}
.contact__name--github, .contact__name--linkedin, .contact__name--mail {
  position: relative;
  top: 0.5rem;
  color: var(--color_font);
}

.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
  background-color: var(--color_backdark);
  border-top: 1px solid var(--color_backlight);
  z-index: 5;
}
@media only screen and (min-width: 768px) {
  .footer {
    position: fixed;
  }
}
.footer__copyright {
  display: none;
  align-self: center;
  font-size: 0.8rem;
  color: var(--color_font);
  margin: 0 0 0 0.5rem;
}
@media only screen and (min-width: 768px) {
  .footer__copyright {
    display: flex;
  }
}
.footer__copyright--icon {
  width: 1.5rem;
  margin: 0 0.5rem;
}
.footer__networks {
  width: 100%;
  max-width: 12rem;
  display: none;
  align-self: center;
  align-content: center;
  justify-content: space-around;
  font-size: 0.8rem;
  color: var(--color_font);
}
@media only screen and (min-width: 768px) {
  .footer__networks {
    display: flex;
  }
}
.footer__link--github {
  align-content: center;
}
.footer__link--linkedin {
  align-content: center;
}
.footer__link--mail {
  align-content: center;
}
.footer__icon--github {
  width: 2rem;
}
.footer__icon--linkedin {
  width: 2rem;
}
.footer__icon--mail {
  width: 2rem;
}

.link {
  position: relative;
  width: 2rem;
  height: 2rem;
  top: 0.65rem;
  list-style: none;
  transition: top 0.2s linear;
  filter: invert(1);
}

.menumobil {
  position: absolute;
  display: block;
  width: 100%;
  height: 3.5rem;
  top: 0rem;
  background-color: var(--color_backdark);
  align-items: end;
}
@media only screen and (min-width: 768px) {
  .menumobil {
    display: none;
  }
}
.menumobil__links {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin: 0.1rem 0 0 0;
  z-index: 2;
}
.menumobil__links--home {
  background-image: url("/assets/icons/home-icon.svg");
  background-size: cover;
  filter: invert(1);
  top: 0rem;
}
.menumobil__links--skills {
  background-image: url("/assets/icons/skills-icon.svg");
  background-size: cover;
  filter: brightness(0) invert(1);
}
.menumobil__links--projects {
  background-image: url("/assets/icons/portfolio-icon.svg");
  background-size: cover;
  filter: brightness(0) invert(1);
}
.menumobil__links--projects a {
  width: 100%;
  height: 100%;
}
.menumobil__links--about {
  background-image: url("/assets/icons/about-icon.svg");
  background-size: cover;
  filter: brightness(0) invert(1);
}
.menumobil__links--contact {
  background-image: url("/assets/icons/contact-icon.svg");
  background-size: cover;
  filter: brightness(0) invert(1);
}
.menumobil__link--select {
  position: absolute;
  width: 20%;
  height: 1.2rem;
  bottom: 0rem;
  left: 0rem;
  font-weight: bold;
  font-size: 0.8rem;
  color: var(--color_backdark);
  background: var(--color_activated);
  border-radius: 0rem;
  border: 1px solid var(--color_activated);
  text-align: center;
  padding: 0.1rem 0 0 0;
  transition: left 0.3s linear;
  z-index: 1;
}

.tag__move {
  position: absolute;
  color: var(--color_font_section);
  font-size: 1rem;
  transform: translate(0px);
  transition: left 0.1 linear;
  border-radius: 50%;
  text-align: center;
  box-shadow: -10px -10px 20px 7px var(--color_font_section) inset;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 65%;
  opacity: 0.25;
  z-index: 0;
}
.tag__move:hover {
  opacity: 1;
}

.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(97, 211, 231, 0.2);
  backdrop-filter: blur(2px);
  z-index: 7;
  transition: transform 0.6s cubic-bezier(0.42, 0.41, 0.59, 1.17);
  transform: scale(0);
  transform-origin: center;
}
.modal__image {
  width: 78%;
  height: 80%;
  object-fit: contain;
}
.modal__button {
  position: absolute;
  width: 4rem;
  height: 2rem;
  bottom: 1rem;
  background-color: var(--color_backdark);
  color: red;
  border: 1px solid red;
  cursor: pointer;
}
.modal__button:hover {
  color: var(--color_font);
  border: 1px solid var(--color_font);
}

@keyframes animationModal {}
@keyframes animationCursor {
  0% {
    content: "";
  }
  100% {
    content: "|";
  }
}
@keyframes animationIntoName {
  0% {
    transform: translateX(-35%) skewX(10deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}
@keyframes animationLogos {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
@keyframes animationTechnologies {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }
  100% {
    transform: translateY(125%);
    opacity: 1;
  }
}
@keyframes animationSkillsLogos {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(30%);
    opacity: 1;
  }
}
@keyframes animationLogosContact {
  0% {
    transform: translateY(200%);
  }
  80% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes animationPhoto {
  0% {
    transform: translateY(-200%);
  }
  85% {
    transform: scaleY(1);
  }
  90% {
    transform: translateY(15%) scaleY(0.9);
  }
  100% {
    transform: scaleY(1) translateY(0%);
  }
}
@keyframes animationLight {
  0% {
    opacity: 1;
  }
  52% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  97% {
    opacity: 1;
  }
  98% {
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}