@import url("https://fonts.googleapis.com/css2?family=Prosto+One&family=Raleway");
html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background: var(--color_backmedium);
  font-size: 100%;
  font-family: var(--font-General);
  font-display: auto;
}
body::-webkit-scrollbar {
  width: 13px;
}
body::-webkit-scrollbar-track {
  background: var(--color_backlight);
  border-radius: 1px;
}
body::-webkit-scrollbar-thumb {
  background: var(--color_backdark);
  border-radius: 1px;
}
body::-webkit-scrollbar-thumb:hover {
  background: var(--color_backmedium);
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  object-fit: cover;
  /* (Opcional) */
  object-position: center center;
}

:root {
  --color_backdark: #121212;
  --color_backmedium: #272727;
  --color_backlight: #373737;
  --color_deactivated: #64b4dabb;
  --color_activated: #61d3e7;
  --color_font: #D6D6D6;
  --color_fontTitle: #a7a7a7;
  --color_font_section: #EEEEEE22;
  --color_back_section: #222831BB;
  --color_bubble_hover: #64b4da33;
  --font_Display: "DotGothic16", sans-serif;
  --font-General: "Raleway", sans-serif;
  --font-Title: "Prosto One", cursive;
  /*
      --color_backdark: #222831;
      --color_backmedium: #393E46;
      --color_backlight: #626a77;
      --color_deactivated: #ecb63755;;
      --color_activated: #ecb637;
      --color_font: #EEEEEE;
      --color_font_section: #EEEEEE22;
      --color_back_section: #222831BB;
      --color_bubble_hover: #ecb63733;
      --font_Display: 'DotGothic16', sans-serif;
      --font-General: 'Raleway', sans-serif;
      --font-Title: 'Prosto One', cursive;
  */
  /*
      --color_backdark: #111111;
      --color_backmedium: #282b21;
      --color_backlight: #3E432E;
      --color_deactivated: #616F39;
      --color_activated: #A7D129;
      --color_font: #EEEEEE;
      --color_font_section: #FFFFFF20;
      --color_back_section: #00000099;
      --font_Display: 'DotGothic16', sans-serif;
      --font-General: 'Raleway', sans-serif;
      --font-Title: 'Prosto One', cursive;
  */
}

/* Media Queries Mixin
**********************/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.5rem;
  z-index: 7;
  overflow: hidden;
  background-color: var(--color_backdark);
  border-bottom: 1px solid var(--color_backlight);
}
.header__container {
  position: relative;
  display: flex;
  width: 90%;
  height: 100%;
  display: grid;
  margin: 0 auto;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 3.5rem;
}
@media only screen and (min-width: 992px) {
  .header__container {
    width: 65%;
  }
}
.header__logo {
  width: 35%;
  min-width: 7rem;
  max-width: 6rem;
  justify-self: center;
  grid-column: 1/span 2;
}
@media only screen and (min-width: 768px) {
  .header__logo {
    grid-column: 1/2;
    justify-self: left;
  }
}
.header__menu {
  position: relative;
  font-size: 0.8rem;
  list-style: none;
  display: none;
  justify-self: flex-end;
}
@media only screen and (min-width: 768px) {
  .header__menu {
    display: flex;
  }
}

.menu__list {
  width: 6rem;
  text-align: center;
  padding: 0.45rem 0.9rem;
}
.menu__list--link {
  text-decoration: none;
  font-weight: 500;
  color: var(--color_font);
}
.menu__list--link:hover {
  color: var(--color_activated);
  cursor: pointer;
}
.menu__list--home .menu__list--link {
  color: var(--color_activated);
}

.menu__selection {
  position: absolute;
  width: 6rem;
  height: 2rem;
  background: linear-gradient(0deg, var(--color_back_section), transparent);
  border: 1px solid var(--color_activated);
  border-radius: 1rem;
  transition: left 0.3s linear;
}

.title {
  width: 100%;
  height: 3.5rem;
  font-size: 2rem;
  font-family: var(--font-Title);
  color: var(--color_fontTitle);
  font-weight: 900;
  border-bottom: 1px solid var(--color_backlight);
  padding: 0.5rem 0 0 2rem;
  letter-spacing: 0.1rem;
}

.section {
  width: 90%;
  height: 100%;
  min-height: 51rem;
  margin: 5rem auto;
  justify-items: center;
  transition: opacity 0.5s linear;
  padding-top: 0rem;
  z-index: 6;
}
@media only screen and (min-width: 768px) {
  .section {
    justify-items: flex-start;
    padding-top: 4rem;
    margin: 0rem auto;
  }
}
@media only screen and (min-width: 992px) {
  .section {
    width: 65%;
    margin: -1rem auto;
    padding-top: 4rem;
  }
}

.home {
  margin-top: 3rem;
}
@media only screen and (min-width: 768px) {
  .home {
    margin-top: 0rem;
  }
}
.home__container {
  display: grid;
  align-items: center;
  margin-top: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fit, min-max(3rem, 1fr));
}
@media only screen and (min-width: 768px) {
  .home__container {
    margin: 6rem 0 0 0;
  }
}
.home__idea {
  grid-column: 1/span 2;
  grid-row: 6/7;
  font-size: 1.3rem;
  margin: 1rem auto;
  color: var(--color_font);
  align-self: flex-start;
  animation: animationSkillsLogos 1s linear 2.5s both;
}
@media only screen and (min-width: 768px) {
  .home__idea {
    grid-column: 1/2;
    grid-row: 5/6;
    margin: 0rem 0 0 0;
  }
}
.home__photo {
  width: 35%;
  min-width: 10rem;
  border-radius: 50%;
  justify-self: center;
  grid-column: 1/span 2;
  grid-row: 2/3;
  margin: 1rem auto;
  border: 5px solid var(--color_activated);
  box-shadow: 1px 1px 10px 1px #000000;
  filter: grayscale(90%);
  object-fit: cover;
  z-index: 3;
}
@media only screen and (min-width: 768px) {
  .home__photo {
    width: 55%;
    min-width: 18rem;
    grid-column: 2/3;
    grid-row: 2/span 4;
    margin: 5rem auto;
  }
}
.home__link--github {
  align-self: flex-start;
  justify-self: start;
  margin: 1rem 0 0 1rem;
  grid-column: 2/3;
  grid-row: 7/8;
  z-index: 5;
}
@media only screen and (min-width: 768px) {
  .home__link--github {
    margin: 0rem 0 0 1rem;
    grid-column: 2/3;
    grid-row: 6/7;
  }
}
.home__icon--github {
  width: 2.5rem;
  margin-left: 0.1rem;
}
.home__link--linkedin {
  align-self: flex-start;
  justify-self: end;
  margin: 1rem 1rem 0 0;
  grid-column: 1/2;
  grid-row: 7/8;
  z-index: 5;
}
@media only screen and (min-width: 768px) {
  .home__link--linkedin {
    margin: 0rem 0 0 1rem;
    grid-column: 1/2;
    grid-row: 6/7;
  }
}
.home__icon--linkedin {
  width: 2.5rem;
  margin-left: 0.3rem;
}

.description__name {
  position: relative;
  grid-column: 1/span 2;
  grid-row: 3/4;
  margin: 0.5rem auto;
  font-size: 1.8rem;
  word-wrap: break-word;
  align-self: center;
  opacity: 0;
  color: var(--color_font);
  animation: animationIntoName 1.5s cubic-bezier(0.49, 0.58, 0.66, 1.14) 0.25s both;
}
.description__name br {
  display: none;
}
@media only screen and (min-width: 768px) {
  .description__name {
    font-size: 2.8rem;
    align-self: flex-end;
    grid-column: 1/2;
    margin: 0;
    grid-row: 2/3;
  }
  .description__name br {
    display: block;
  }
}

.description__profesion {
  align-self: flex-start;
  width: fit-content;
  margin: 0.5rem auto;
  font-size: 2rem;
  font-weight: 500;
  grid-column: 1/span 2;
  grid-row: 5/6;
  background: var(--color_back_section);
  color: var(--color_deactivated);
  border-bottom: 3px solid var(--color_activated);
  z-index: 6;
}
@media only screen and (min-width: 768px) {
  .description__profesion {
    font-size: 2.5rem;
    grid-column: 1/2;
    grid-row: 4/5;
    margin: 0;
  }
}
.description__profesion::after {
  content: "";
  font-size: 3rem;
  color: var(--color_deactivated);
}
@media only screen and (min-width: 768px) {
  .description__profesion::after {
    content: "";
    font-size: 3rem;
    animation: animationCursor 1s linear infinite;
    color: var(--color_deactivated);
  }
}
.description__profesion::before {
  content: ".";
  color: transparent;
}

.name {
  grid-column: 1/span 2;
  grid-row: 4/5;
  color: var(--color_activated);
  font-size: 3.5rem;
  font-weight: 600;
  opacity: 0;
  margin: 0.5rem auto;
  animation: animationIntoName 1.5s cubic-bezier(0.49, 0.58, 0.66, 1.14) both;
}
@media only screen and (min-width: 768px) {
  .name {
    grid-column: 1/2;
    grid-row: 3/4;
    font-size: 4rem;
    margin: 0;
  }
}

.networks {
  filter: grayscale(100%);
  text-decoration: none;
}
.networks:hover {
  filter: grayscale(0%) hue-rotate(140deg);
}

.linkedin__name {
  left: -0.5rem;
}

.github__name {
  left: -0.3rem;
}

.github__name,
.linkedin__name {
  position: relative;
  top: 0.2rem;
  color: var(--color_font);
}

.logo {
  width: 60%;
  min-height: 1rem;
  animation: animationLogos 7s linear alternate infinite;
}
@media only screen and (min-width: 768px) {
  .logo {
    width: 70%;
  }
}

.technologies {
  display: none;
  width: 100%;
  height: 100%;
  min-width: 7rem;
  overflow: hidden;
}
.technologies:checked + .label__tech {
  color: transparent;
}
.technologies:checked + .label__tech:before {
  animation: animationTechnologies 0.4s linear both alternate;
}

.label__tech {
  position: relative;
  display: none;
  width: 100%;
  height: 100%;
  padding: 1rem 0rem 0 0rem;
  text-align: center;
  font-size: 0.85rem;
  font-family: var(--font-General);
  font-weight: 100;
  word-wrap: break-word;
  color: var(--color_font);
  background-color: var(--color_backlight);
  border-left: 1px solid var(--color_backdark);
  overflow: hidden;
  cursor: pointer;
}
.label__tech:hover {
  color: var(--color_activated);
  opacity: 1;
}
.label__tech::before {
  position: absolute;
  content: attr(name);
  width: 100%;
  height: 100%;
  left: 0;
  top: -125%;
  padding: 1rem 0 0 0;
  background-color: var(--color_backdark);
  border-bottom: 1px solid var(--color_activated);
  color: var(--color_activated);
}
@media only screen and (min-width: 768px) {
  .label__tech {
    display: block;
  }
}

.logos {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  row-gap: 0.5rem;
  margin: 3rem 0 0 0;
  background: var(--color_backdark);
  border-bottom: 1px solid var(--color_activated);
  box-shadow: -1px -1px 1px 0px var(--color_font_section) inset, -2px 2px 10px 2px var(--color_backdark);
}
@media only screen and (min-width: 768px) {
  .logos {
    grid-template-rows: 0.6fr 2fr 2fr 2fr;
    grid-template-columns: repeat(5, 1fr);
    margin: 2rem 0 0 0;
  }
}
.logos__name {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 90%;
  margin: 0.5rem;
  text-transform: uppercase;
  color: var(--color_font);
  text-align: center;
  font-size: 0.6rem;
  align-items: center;
  justify-content: center;
  animation: animationSkillsLogos 0.5s both linear;
}
@media only screen and (min-width: 768px) {
  .logos__name {
    font-size: 1rem;
  }
}
.logos__bubble {
  display: flex;
  width: 4rem;
  height: 4rem;
  margin: 0 0 0.5rem 0;
  align-items: center;
  justify-content: center;
  box-shadow: -10px -10px 20px 7px var(--color_font_section) inset;
  border-radius: 50%;
}
@media only screen and (min-width: 768px) {
  .logos__bubble {
    width: 7rem;
    height: 7rem;
  }
}
.logos--webdev {
  color: var(--color_activated);
  border-left: none;
}
.logos--webdev:hover {
  color: var(--color_font);
}
.logos__select {
  position: absolute;
  display: block;
  height: 2rem;
  top: -2rem;
  right: 0;
  padding: 0.1rem 1rem 0 1rem;
  font-size: 1.3rem;
  font-family: var(--font-General);
  color: var(--color_font);
  background-color: var(--color_backlight);
  border-bottom: 1px solid var(--color_activated);
}
@media only screen and (min-width: 768px) {
  .logos__select {
    display: none;
  }
}

.projects__container {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  gap: 5rem;
  margin: 6rem 0 0 0;
}

.project {
  display: flex;
  position: relative;
  justify-content: center;
  width: 30rem;
  height: 15rem;
  border: 1px solid var(--color_font);
}
.project__title {
  position: absolute;
  width: 70%;
  height: 20%;
  top: -10%;
  padding: 0.7rem 0 0 0;
  text-align: center;
  align-self: center;
  color: var(--color_activated);
  background: linear-gradient(var(--color_backdark), var(--color_backdark));
  border: 1px solid var(--color_fontTitle);
}
.project__technologies {
  display: grid;
  grid-template-columns: repeat(auto-fill, max-min(3em, 1fr));
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  justify-content: space-evenly;
  position: absolute;
  width: 95%;
  height: 30%;
  bottom: -10%;
  padding: 0.3rem;
  background: linear-gradient(var(--color_backdark), var(--color_backdark));
  border: 1px solid var(--color_fontTitle);
}
.project__technologies--container {
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project__technologies--image {
  height: 85%;
  object-fit: contain;
  margin-bottom: 0.6rem;
}
.project__technologies--label {
  color: var(--color_fontTitle);
  text-transform: uppercase;
  font-size: 0.65rem;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  .project__technologies--label {
    font-size: 0.8rem;
  }
}
.project__image {
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s linear;
}
.project__options {
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  width: 10%;
  height: 60%;
  top: 5%;
  right: -5%;
  padding: 0.3rem;
  background: linear-gradient(var(--color_backdark), var(--color_backdark));
  border: 1px solid var(--color_fontTitle);
}
.project__options--zoom {
  width: 90%;
  height: 2rem;
  background-color: transparent;
  background-image: url("../assets/icons/zoom-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  filter: grayscale(1);
}
.project__options--zoom:hover {
  filter: grayscale(0) hue-rotate(140deg);
}

.previewContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--color_back_section);
  border: 1px solid var(--color_font);
  z-index: 8;
}
.previewContainer__preview {
  display: grid;
  align-items: center;
  width: 85%;
  height: 100%;
}
.previewContainer__preview--image {
  width: 100%;
  object-fit: scale-down;
}

.aboutme {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  margin: 4rem 0 3rem 0;
  align-items: center;
  justify-content: center;
}
.aboutme__description {
  width: 100%;
  color: var(--color_font);
  letter-spacing: 0.06rem;
  line-height: 1.3rem;
  padding: 2rem;
  background: var(--color_backdark);
  z-index: 2;
  border-bottom: 1px solid var(--color_activated);
  box-shadow: -1px -1px 1px 0px var(--color_font_section) inset, -2px 2px 10px 2px var(--color_backdark);
}
.aboutme__description--paragraph {
  margin: 1rem 0;
}
.aboutme__image {
  width: 100%;
  object-fit: contain;
  z-index: 2;
}

.contact {
  height: 45.5rem;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .contact {
    height: 57.5rem;
  }
}
.contact__type {
  display: grid;
  justify-content: flex-end;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(5rem, 1fr));
  width: 100%;
  gap: 1rem;
  margin: 4rem 0 0 0;
  align-items: center;
  justify-content: center;
}
.contact__type--networks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.contact__type--message {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: var(--color_font);
}
.contact__link--github, .contact__link--linkedin, .contact__link--mail {
  width: 10%;
  min-width: 3rem;
}
.contact__name--github, .contact__name--linkedin, .contact__name--mail {
  position: relative;
  top: 0.5rem;
  color: var(--color_font);
}

.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
  background-color: var(--color_backdark);
  border-top: 1px solid var(--color_activated);
  z-index: 5;
}
@media only screen and (min-width: 768px) {
  .footer {
    position: fixed;
  }
}
.footer__copyright {
  display: none;
  align-self: center;
  font-size: 0.8rem;
  color: var(--color_font);
  margin: 0 0 0.5rem 0.5rem;
}
@media only screen and (min-width: 768px) {
  .footer__copyright {
    display: flex;
  }
}
.footer__copyright--icon {
  width: 1.5rem;
  margin: 0 0.5rem;
}
.footer__networks {
  width: 100%;
  max-width: 12rem;
  display: none;
  align-self: center;
  align-content: center;
  justify-content: space-around;
  font-size: 0.8rem;
  color: var(--color_font);
}
@media only screen and (min-width: 768px) {
  .footer__networks {
    display: flex;
  }
}
.footer__link--github {
  align-content: center;
}
.footer__link--linkedin {
  align-content: center;
}
.footer__link--mail {
  align-content: center;
}
.footer__icon--github {
  width: 2rem;
}
.footer__icon--linkedin {
  width: 2rem;
}
.footer__icon--mail {
  width: 2rem;
}

.link {
  position: relative;
  width: 2rem;
  height: 2rem;
  top: 0.65rem;
  list-style: none;
  transition: top 0.2s linear;
  filter: invert(1);
}

.menumobil {
  position: absolute;
  display: block;
  width: 100%;
  height: 3.5rem;
  top: 0rem;
  background-color: var(--color_backdark);
  align-items: end;
}
@media only screen and (min-width: 768px) {
  .menumobil {
    display: none;
  }
}
.menumobil__links {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin: 0.1rem 0 0 0;
  z-index: 2;
}
.menumobil__links--home {
  background-image: url("/assets/icons/home-icon.svg");
  background-size: cover;
  filter: invert(0);
  top: 0rem;
}
.menumobil__links--skills {
  background-image: url("/assets/icons/skills-icon.svg");
  background-size: cover;
  filter: brightness(0) invert(1);
}
.menumobil__links--projects {
  background-image: url("/assets/icons/portfolio-icon.svg");
  background-size: cover;
  filter: brightness(0) invert(1);
}
.menumobil__links--projects a {
  width: 100%;
  height: 100%;
}
.menumobil__links--about {
  background-image: url("/assets/icons/about-icon.svg");
  background-size: cover;
  filter: brightness(0) invert(1);
}
.menumobil__links--contact {
  background-image: url("/assets/icons/contact-icon.svg");
  background-size: cover;
  filter: brightness(0) invert(1);
}
.menumobil__link--select {
  position: absolute;
  width: 20%;
  height: 3.5rem;
  top: 0rem;
  left: 0rem;
  font-weight: bolder;
  font-size: 0.8rem;
  color: var(--color_backdark);
  background: var(--color_activated);
  border-radius: 0rem;
  border: 1px solid var(--color_activated);
  text-align: center;
  padding: 2.1rem 0 0 0;
  transition: left 0.3s linear;
  z-index: 1;
}

.tag__move {
  position: absolute;
  color: var(--color_font_section);
  font-size: 1rem;
  transform: translate(0px);
  transition: left 0.1 linear;
  border-radius: 50%;
  text-align: center;
  box-shadow: -10px -10px 20px 7px var(--color_font_section) inset;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 65%;
  opacity: 0.25;
  z-index: 0;
}
.tag__move:hover {
  opacity: 1;
}

@keyframes animationCursor {
  0% {
    content: "";
  }
  100% {
    content: "I";
  }
}
@keyframes animationIntoName {
  0% {
    transform: translateX(-35%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes animationLogos {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
@keyframes animationTechnologies {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }
  100% {
    transform: translateY(125%);
    opacity: 1;
  }
}
@keyframes animationSkillsLogos {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(30%);
    opacity: 1;
  }
}