@import "components/globales.scss";
@import "components/_breakpoints.scss";
//@use "sass:map";


$sizeContainerMenuMobil: 35rem;
@mixin boxShadow() {
    border-bottom: 1px solid var(--color_activated);
    box-shadow: -1px -1px 1px 0px var(--color_font_section) inset, -2px 2px 10px 2px var(--color_backdark) ;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;    
    height: 4rem;
    z-index: 7;
    overflow: hidden;
    background-color: var(--color_backdark);
    &__container {
        position: relative;
        display: flex;
        width: 90%;
        height: 100%;               
        display: grid;
        margin: 0 auto;        
        align-items: center;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 4rem;
        @include media(desktop-s) {
            width: 65%;
        }
    }
    &__logo {
        width: 35%;
        min-width: 7rem;
        max-width: 6rem;
        justify-self: center;
        grid-column: 1 / span 2;
        @include media(tablet) {
            grid-column: 1 / 2;
            justify-self: left;
        }
    }
    &__menu {
        position: relative;
        font-size: 0.8rem;
        list-style: none;
        display: none;   
        justify-self: flex-end;
        @include media(tablet) {
            display: flex; 
        }   
    }
}
.menu__list {             
        width: 7rem;          
        text-align: center;      
        padding: 0.45rem 0.9rem;
        &--home,
        &--skills,
        &--projects,
        &--about {
           border-right: 1px solid var(--color_font); 
        }        
        &--link {              
            text-decoration: none;            
            font-weight: 500;          
            color: var(--color_font);            
            &:hover {            
                color: var(--color_activated);
                cursor: pointer;
            }            
        }
        &--home .menu__list--link {
            color: var(--color_activated);
        }
    }  
.menu__selection {
        position: absolute;
        width: 7.01rem;
        height: 2rem;
        background: linear-gradient(0deg, #626a7733, #626a7700);
        border-bottom: 2px solid var(--color_activated);
        transition: left 0.3s linear;
}

.title {
    width: 100%;
    height: 3.5rem;
    font-size: 2rem;
    font-family: var(--font-Title);
    color: var(--color_fontTitle);
    font-weight: 900;
    border-bottom: 1px solid var(--color_activated);
    //border-left: 1px solid var(--color_font);
    //background:  linear-gradient(90deg, var(--color_deactivated), #A7D12901);
    padding: 0.5rem 0 0 2rem;
    //border-radius: 0.5rem 0 0 0;
    letter-spacing: 0.1rem;
}
.section {
    width: 90%;
    height: 100%;
    min-height: 51rem;
    margin: 5rem auto; 
    justify-items: center;     
    transition: opacity 0.5s linear;    
    padding-top: 0rem;
    z-index: 6;
    @include media(tablet) {
        justify-items:  flex-start; 
    }
    @include media(desktop-s) {
        width: 65%;
        margin: -1rem auto; 
        padding-top: 6rem;
    }
}

.home {
    
    &__container {
        display: grid;
        align-items: center;  
        margin-top: 1rem; 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(auto-fit, min-max(3rem, 1fr));
        @include media(tablet) {
            margin: 6rem 0 0 0;
            
        }
    }
    &__idea {
        grid-column: 1 / span 2;
        grid-row: 6 / 7;
        font-size: 1.3rem;
        margin: 1rem auto;
        color: var(--color_font);
        align-self: flex-start;
        animation: animationSkillsLogos 1s linear 2.5s both;
        @include media(tablet) {
            grid-column: 1 / 2;
            grid-row: 5 / 6;            
            margin: 0rem 0 0 0;
        }
    }    
    &__photo {    
        width: 35%;
        min-width: 10rem;
        border-radius: 50%;
        justify-self: center;
        grid-column: 1 / span 2;
        grid-row: 2 / 3;
        margin: 0rem auto;
        border: 5px solid var(--color_activated);
        box-shadow: 1px 1px 10px 1px #000000;
        filter: grayscale(90%);
        object-fit: cover;
        z-index: 3;
        @include media(tablet) {
            width: 55%;
            min-width: 18rem;
            grid-column: 2 / 3;
            grid-row: 2 / span 4;     
        }
    }
    &__link--github {        
        align-self: flex-start;
        justify-self: start;
        margin: 1rem 0 0 1rem;
        grid-column: 2 /  3;
        grid-row: 7 / 8;        
        z-index: 5;
        @include media(tablet) {
            margin: 0rem 0 0 1rem;
            grid-column: 2 / 3;
            grid-row: 6 / 7; 
        }
    }
    &__icon--github {
        width: 2.5rem;
        
    }
    &__link--linkedin {
        align-self: flex-start;
        justify-self: end;
        margin: 1rem 1rem 0 0;
        grid-column: 1 / 2;
        grid-row: 7 / 8;        
        z-index: 5;
        @include media(tablet) {
            margin: 0rem 0 0 1rem;
            grid-column: 1 / 2;
            grid-row: 6 / 7;
        }
    }
    &__icon--linkedin {
        width: 2.5rem;
    }    
} 

.description__name {
    position: relative;
    grid-column: 1 / span 2;
    grid-row: 3 / 4;
    margin: 0.5rem auto;
    font-size: 1.8rem;                 
    word-wrap: break-word;   
    align-self: center;  
    opacity: 0;
    color: var(--color_font);
    animation: animationIntoName 1.5s cubic-bezier(.49,.58,.66,1.14) 0.25s both;
    & br {
       display: none; 
    }
    @include media(tablet) {
        font-size: 2.8rem;  
        align-self: flex-end;
        grid-column: 1 / 2;
        margin: 0;
        grid-row: 2 / 3;
        & br {
            display: block; 
         }
    }
}
.description__profesion {
    align-self: flex-start;
    width: fit-content;
    margin: 0.5rem auto;
    font-size: 2rem;
    font-weight: 500;
    grid-column: 1 / span 2;
    grid-row: 5 / 6; 
    background: var(--color_back_section);
    color: var(--color_deactivated);
    border-bottom: 3px solid var(--color_activated);
    z-index: 6;
    @include media(tablet) {
        font-size: 2.5rem;
        grid-column: 1 / 2;
        grid-row: 4 / 5;   
        margin: 0;   
    }    
    &::after {
        content: "";
        font-size: 3rem;
        color: var(--color_deactivated);  
        @include media(tablet) {
            content: "";
            font-size: 3rem;
            animation: animationCursor 1s linear infinite;
            color: var(--color_deactivated); 
        }
    }
    &::before {
        content: ".";
        color: transparent;
    }
}
.name{
    grid-column: 1 / span 2;
    grid-row: 4 / 5;
    color: var(--color_activated);  
    font-size: 3.5rem;
    font-weight: 600;  
    opacity: 0;
    margin: 0.5rem auto;
    animation: animationIntoName 1.5s cubic-bezier(.49,.58,.66,1.14) both;
    @include media(tablet) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        font-size: 4rem;
        margin: 0;
    }
}
.networks {
    filter: grayscale(100%);
    text-decoration: none;
    &:hover{
        filter: grayscale(0%) hue-rotate(140deg);
    }
}

.linkedin__name {
    left: -0.5rem;
}
.github__name {
    left: -0.3rem;
}
.github__name,
.linkedin__name {
    position: relative;
    top: 0.2rem;
    color: var(--color_font);
}

.logo {
    width: 60%;
    min-height: 1rem;
    animation: animationLogos 7s linear alternate infinite;
    @include media(tablet) {        
        width: 70%;
    }
}
.technologies {
    display: none;
    width: 100%;
    height: 100%;
    min-width: 7rem;
    overflow: hidden;
    &:checked + .label__tech {
        color: transparent;
        //background: var(--color_backdark);       
        &:before{
            animation: animationTechnologies 0.4s linear both alternate;
        }
    }
}
.label__tech {
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
    padding: 1.2rem 0rem 0 0rem; 
    text-align: center;
    
    font-size: 1rem;       
    font-family: var(--font-General); 
    font-weight: 500;
    word-wrap: break-word;
    color: var(--color_font);
    background-color: var(--color_backlight);
    border-left: 1px solid var(--color_font);
    overflow: hidden;  
    cursor: pointer;
    &:hover {
        color: var(--color_activated);
        opacity: 1;
    }
    &::before {
        position: absolute;
        content: attr(name);
        width: 100%;
        height: 100%;
        left: 0;
        top: -125%;
        padding: 1.2rem 0 0 0;
        background-color: var(--color_backdark);        
        border-bottom: 1px solid var(--color_activated);  
        color: var(--color_activated);       
    }    
    @include media(tablet) {
        display: block;
    }
}
.logos{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr); 
    align-items: center;
    justify-items: center;
    row-gap: 0.5rem;
    margin: 1rem 0 0 0;   
    background: var(--color_backdark);
    @include boxShadow();
    @include media(tablet) {
        grid-template-rows: 0.7fr 2fr 2fr 2fr;   
        grid-template-columns: repeat(5, 1fr);
        margin: 2rem 0 0 0; 
    }
    &__name {
        display: flex;
        flex-direction: column;        
        width: 80%;
        height: 90%;
        margin: 0.5rem;        
        text-transform: uppercase;
        color: var(--color_font);
        text-align: center;
        font-size: 0.6rem;
        align-items: center;
        justify-content: center;
        animation: animationSkillsLogos 0.5s both linear;
        @include media(tablet) {        
            font-size: 1rem;
        }
    }
    &__bubble {
        display: flex;
        width: 4rem;
        height: 4rem;      
        margin: 0 0 0.5rem 0;  
        align-items: center;
        justify-content: center;
        box-shadow: -10px -10px 20px 7px var(--color_font_section) inset;
        border-radius: 50%;
        @include media(tablet) {        
            width: 7rem;
            height: 7rem;
        }
    }
    &--webdev {
        color: var(--color_activated); 
        border-left: 0px;
        border-left: none;
        &:hover {
            color: var(--color_font);
        }
    }
    &__select {
        position: absolute;
        display: block;
        height: 2rem;
        top: -3.3rem;
        right: 0;
        padding: 0.1rem 1rem 0 1rem;
        font-size: 1.3rem;
        font-family: var(--font-General);
        color: var(--color_font);
        background-color: var(--color_backlight);
        border-bottom: 1px solid var(--color_activated);
        @include media(tablet) {  
            display: none;
        }
    }
}

.projects__container {
    position: relative;
    display: flex;
    flex-flow: row wrap;   
    width: 100%;
    justify-content: center;
    gap: 5rem;
    margin: 6rem 0 0 0;
}
.project {
    display: flex;
    position: relative;
    justify-content: center;
    width: 30rem;
    height: 15rem;
    border: 1px solid var(--color_font);
    background-color: darkcyan;
    &__title {
        position: absolute;
        width: 70%;
        height: 20%;
        top: -10%;
        padding: 0.7rem 0 0 0;
        text-align: center;
        align-self: center;        
        color: var(--color_activated);
        background: rgba($color: #111111, $alpha: 0.9);
        border: 1px solid var(--color_font);
        border-radius: 0.3rem;
    }
    &__technologies {
        display: flex;
        justify-content: left;
        position: absolute;    
        width: 90%;
        height: 20%;
        bottom: -10%;
        background: linear-gradient(var(--color_backdark), var(--color_backmedium));
        border: 1px solid var(--color_font);
        border-radius: 0.3rem;
        img {
            height: 100%;
            object-fit: contain;

        }
    }
    &__image {
        width: 100%;
        object-fit: cover;
        transition: transform 0.3s linear;
    }
    &__options {
        position: absolute;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
        width: 10%;
        height: 60%;
        top: 5%;
        right: -5%;
        background: linear-gradient(var(--color_backdark), var(--color_backmedium));
        border: 1px solid var(--color_font);
        border-radius: 0.3rem;
        &--zoom {
            width: 90%;
            height: 2rem;
            background-color: transparent;
            background-image: url("../assets/icons/zoom-icon.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            filter: grayscale(1);
            &:hover {
                filter: grayscale(0);
            }
        }
    }
}
.previewContainer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--color_back_section);
    border: 1px solid var(--color_font);
    z-index: 8;
    &__preview {    
        display: grid;
        align-items: center;    
        width: 85%;
        height: 100%;
        //background-color: var(--color_backlight);
        &--image {
            width: 100%;
            object-fit:scale-down;
            //border: 1px solid var(--color_font);
            //background-color: var(--color_backmedium);
        }
    }
}



.aboutme {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    margin: 4rem 0 0 0;  
    align-items: center;
    justify-content: center;
    &__description {
        width: 100%;
        color: var(--color_font);
        letter-spacing: 0.06rem;
        line-height: 1.3rem;
        padding: 2rem;
        background: var(--color_backdark);        
        @include boxShadow();
        &--paragraph {
            margin: 1rem 0;
        }
    }
    &__image {
        width: 100%;
        object-fit: contain;
    }
}


.contact {
    height: 45.5rem;
    text-align: center;
    @include media(desktop-s) {
        height: 57.5rem;
    }
    &__type {
        display: grid;
        justify-content: flex-end;
        grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(5rem, 1fr));
        width: 100%;
        gap: 1rem;
        margin: 4rem 0 0 0;  
        align-items: center;
        justify-content: center;
        &--networks {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
        }
        &--message {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            color: var(--color_font);
        }
    }
    &__link--github,
    &__link--linkedin,
    &__link--mail {
        width: 10%;
        min-width: 3rem;
    }
    &__name--github,
    &__name--linkedin,
    &__name--mail {
        position: relative;
        top: 0.5rem;
        color: var(--color_font);
    }
}

.footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    bottom: 0;
    width: 100%;
    height: 4rem;
    background-color: var(--color_backdark);
    border-top: 1px solid var(--color_activated);
    z-index: 5;
    @include media(tablet) {
        position: fixed;        
    }
    &__copyright {
        display: none;
        align-self: center;
        font-size: 0.8rem;
        color: var(--color_font);
        margin: 0 0 0.5rem 0.5rem;
        @include media(tablet) {
            display: flex;
        }
        &--icon {
            width: 1.5rem;
            margin: 0 0.5rem;
        }
    }
    &__networks {
        width: 100%;
        max-width: 12rem;
        display: none;
        align-self: center;
        align-content: center;
        justify-content:space-around;
        font-size: 0.8rem;
        color: var(--color_font);
        @include media(tablet) {
            display: flex;
        }
    }
    &__link--github {
        align-content: center;        
    }
    &__link--linkedin {
        align-content: center;
    }
    &__link--mail {
        align-content: center;
    }
    &__icon--github {
        width: 2rem;        
    }
    &__icon--linkedin {
        width: 2rem;
    }
    &__icon--mail {
        width: 2rem;
    }
}
.link {
    width: 3rem;
    height: 3rem;
    list-style:none ;
    filter: invert(1);
}
.menumobil {
    position: absolute; 
    display: block;
    width: 90vw;
    height: 3.5rem;
    top: -0.2rem;
    left: calc(5vw);
    background-color: var(--color_backdark);  
    border: 3px solid var(--color_activated);
    align-items: end;
    @include media(tablet) {
        display: none;       
    }
    &__links {           
        display: flex;
        justify-content: space-around;
        margin: 0.1rem 0 0 0;      
    }
    &__links--home {
        background-image: url("/assets/icons/home-icon.svg");
        background-size: cover;
        filter: invert(0);
    }
    &__links--skills {
        background-image: url("/assets/icons/skills-icon.svg");
        background-size: cover;
    }
    &__links--projects {
        background-image: url("/assets/icons/portfolio-icon.svg");
        background-size: cover;
        a {
            width: 100%;
            height: 100%;
        }
    }
    &__links--about {
        background-image: url("/assets/icons/about-icon.svg");
        background-size: cover;
    }
    &__links--contact {
        background-image: url("/assets/icons/contact-icon.svg");
        background-size: cover;
    }
    &__link--select {
        position: absolute;
        width: 18vw;
        height: 5rem;
        top: -1.7rem;
        left: -0.2rem;
        font-weight: bold;
        font-size: 0.80rem;
        background-color: var(--color_activated);
        box-shadow: 2px 2px 4px 1px var(--color_deactivated) inset;
        border-radius: 0.5rem 0.5rem 0 0;
        border: 3px solid var(--color_activated);
        text-align: center;
        padding: 0.5rem 0 0 0;
        transition: left 0.3s linear;
    }
}


.tag__move {
    position: absolute;
    color: var(--color_font_section);
    font-size: 1rem;
    transform: translate(0px);
    transition: left 0.1 linear;    
    border-radius: 50%;
    text-align: center;
    box-shadow: -10px -10px 20px 7px var(--color_font_section) inset;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65%;
    opacity: 0.25;
    z-index: 0;
    &:hover {
        opacity: 1;
        //box-shadow: -10px -10px 20px 7px var(--color_bubble_hover) inset;
    }
}
@keyframes animationCursor {
    0%{content: "";}
    100%{content: "I";}
}

@keyframes animationIntoName {
    0%{
        transform: translateX(-35%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes animationLogos {
    0% {
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(10deg);
    }
}

@keyframes animationTechnologies {
    0%{
        transform: translateY(0%);
        opacity: 0;
    }
    100%{
        transform: translateY(+125%);
        opacity: 1;
    }
}
@keyframes animationSkillsLogos {
    0%{
        transform: translateY(-20%);
        opacity: 0;
    }
    100%{
        transform: translateY(+30%);
        opacity: 1;
    }
}


